{% extends 'news/base.html' %} 
{% load static %}

{% block title %} signup {% endblock title %}


{% block content %}




<!-- component -->
    <div class="bg-white lg:w-4/12 md:6/12 w-10/12 m-auto my-10 shadow-md">
            <div class="py-8 px-8 rounded-xl">
                <h1 class="font-medium text-2xl mt-3 text-center">สมัครสมาชิก</h1>
                <form action="" method="POST" class="mt-6"> 
                    {% csrf_token %}
                        {% for f in form %}
                            {{f.label_tag}}
                            {{f}}
                        <div class="mt-">
                            <small class="text-red-300">{{ f.errors|striptags }}</small>
                        </div>
                        {% endfor %}
                        
                    <button type="submit" class="mt-3 block text-center text-white bg-green-500 p-3 duration-300 rounded-sm hover:bg-green-300 w-full">สมัคร</button>
                </form>
            </div>
        </div>
    


{% endblock content%}